/* Space out content a bit */
body {
  padding-bottom: 20px;
  background: #023 url('/static/img/background.png');
  color: #ccc;
}

a {
  color: #d5f;
}

h1, h2, h3, h4, h5, h6 {
  text-shadow: 1px 1px 1px black;
  font-family: 'Lobster';
  font-weight: normal;
}

.logos-container {
  text-align: justify;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
  text-shadow: 2px 2px 2px black;
}

.navbar {
  font-family: 'Lobster';
  font-size: 24px;
  font-weight: normal;
}

.navbar .navbar-brand {
  font-family: 'Lobster';
  font-size: 36px;
  font-weight: normal;
}

.navbar-inverse {
  background-color: #058;
  border: none;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #fff;
  background-color: #046;
}
.navbar-inverse .navbar-nav > .active > a {
  background-color: #236;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  margin: 30px auto 0px;
  max-width: 600px;
  color: #057;
  border-top: 1px solid #057;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background: #04A8DA url('/static/img/jumbo.png') no-repeat top center;
}
.jumbotron .content {
  padding-top: 150px;
  color: #eee;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.jumbotron .btn-app {
  background-color: #36a;
  color: #fff;
}
.jumbotron .btn-app:hover {
  background-color: #708;
}

.inside-picture {
  margin: 20px 20px;
  clear: both;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* Fonts */
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(/static/fonts/DroidSerif.tff) format('tff');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster'), url(/static/fonts/Lobster.otf);
}
