.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}


/*
 * Mimick the app's UI
 */

body {
  font-family: Roboto, sans-serif;
  background-color: #00A2D4;
  color: #EBFBFF;
}

#main {
  padding-left: 1em;
  padding-right: 1em;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.56em;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.125em;
}


/*
 * Plot flowing
 */

.static-plot-container {
  text-align: justify;
}

.static-plot-container:after {
  content: '';
  width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
  display: inline-block;
}

.static-plot-container .static-plot {
  display: inline-block;
}

.static-plot-container img.static-plot {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}


/*
 * Switch
 */

#global, #personal {
  display: none;
}

#global.selected, #personal.selected {
  display: block;
}


/*
 * Fonts
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(/static/fonts/Roboto.woff) format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/static/fonts/Roboto-Bold.woff) format('woff');
}
